<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mscorlib.Polyfill.NET35" version="0.0.5" targetFramework="net35-client" />
  <package id="Polyfill.System.Buffers.NET35" version="0.0.5" targetFramework="net35-client" />
  <package id="SharpDX" version="2.6.3" targetFramework="net35-client" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net35-client" />
  <package id="System.Threading.Tasks" version="3.1.1" targetFramework="net35-client" />
  <package id="System.Threading.Tasks.Unofficial" version="3.1" targetFramework="net35-client" />
</packages>